body {
background-color: #027164;
font-family: sans-serif;
padding: 20px;
}

.menu{
    width: 80%;
    background-color: #66CCCC;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 2000px;
}

h1, h2, h3 {
    font-family: Impact, sans-serif;
}

h1, h2, h3, p{
    text-align: center;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
    text-decoration: underline;     
    text-decoration-color: yellow;  
}
.established{
    font-style: italic;
}
hr{
    height: 2px;
    background-color: #027164;
    border-color: #027164;
    margin-top: 30px;
    margin-bottom: 30px;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.booktype{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
footer{
font-size: 15px;
text-align: center;
}